@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
}

body {
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.greetings .word {
    display: block; /* Menempatkan "HALOO" dan "RAHMANIAYU" di baris terpisah */
    white-space: nowrap; /* Menjaga huruf-huruf dalam setiap kata tetap horizontal */
}

.greetings .word > span {
    display: inline; /* Menjaga huruf-huruf dalam kata tetap berdampingan */
    animation: glow 5.5s ease-in-out infinite;
    -webkit-animation: glow 3.3s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

/* Delay animasi untuk setiap huruf */
.greetings .word > span:nth-child(2) { animation-delay: .2s; }
.greetings .word > span:nth-child(3) { animation-delay: .4s; }
.greetings .word > span:nth-child(4) { animation-delay: .6s; }
.greetings .word > span:nth-child(5) { animation-delay: .8s; }
.greetings .word > span:nth-child(6) { animation-delay: 1s; }
.greetings .word > span:nth-child(7) { animation-delay: 1.2s; }
.greetings .word > span:nth-child(8) { animation-delay: 1.4s; }
.greetings .word > span:nth-child(9) { animation-delay: 1.6s; }
.greetings .word > span:nth-child(10) { animation-delay: 1.8s; }
.greetings .word > span:nth-child(11) { animation-delay: 2s; }
.greetings .word > span:nth-child(12) { animation-delay: 2.2s; }
.greetings .word > span:nth-child(13) { animation-delay: 2.4s; }
.greetings .word > span:nth-child(14) { animation-delay: 2.6s; }
.greetings .word > span:nth-child(15) { animation-delay: 2.8s; }
.greetings .word > span:nth-child(16) { animation-delay: 3s; }

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

/* Media query untuk layar iPhone (e.g., 375px–414px) */
@media screen and (max-width: 414px) {
    .greetings {
        font-size: 5vw; /* Ukuran font yang disesuaikan dengan lebar layar */
    }

    .description {
        font-size: 0.9rem;
    }

    .button a {
        font-size: 0.7rem;
    }
}
